.app__menuitem-dash{
    background-color:var(--color-golden);
    height: 2px;
    width: 90px;
    display: flex;
    /* margin-left:46rem; */
    justify-content: center;
}
.app__menuitem{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.app__menuitem_head{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.app__menuitem-sub{
    width: 100%;
    margin-top: 0.2rem;
}
.app__menuitem-price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}